* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #b8fbd7, #fffcb4);
}

.slider {
    position: relative;
    display: flex;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    background-color: azure;   
}

.slider-items .slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease; /* Added vendor prefix */
}

.slider-controls span {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 34px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    color: rgb(0, 0, 0);
    background: #e4e4e4;
    transition: background-color 0.3s ease; /* Added vendor prefix */
}

.slider-controls span:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(148, 148, 148);
}

.slider-controls .prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.slider-controls .next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.slider-indicators {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
}

.slider-indicators span {
    cursor: pointer;
    margin: 0 4px;
    width: 8px;
    height: 8px;
    border-radius: 100%; /* Changed border-radius to make indicators circular */
    transition: background-color 0.2s ease-in; /* Added vendor prefix */
}

.slider-content {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
}

.slider-content h3 {
    position: absolute;
    bottom: 36px;
    color: rgb(236, 255, 255);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.4s; /* Added vendor prefix */
}
